{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'design.css' %}"
</head>
<body>
    <div id="header">
        <h1>About</h1>
    </div>
    <div id="main">
        <div class="container">
            <div class="content">
                <h2>About</h2>
            </div>
            <br>
            <div class="input">
                <form>
                    <label for="Home">Home.html:</label>
                    <br>
                    <button><a href="{% url 'Home' %}">Home</a></button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
