{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>
    {%block title%}
    {%endblock%}
    </title>

<!-- <link rel="stylesheet" href=
    {%block importStatics%}
    "{% static 'styles.css' %}"
    {%endblock%}
    > -->

    <link rel="stylesheet" href=
        {%block importStatic%}
        "{% static 'styles.css' %}"
        {%endblock%}
        >

  </head>
  <body>
    <h2><a href="{% url 'about' %}">LOGO</a></h2>

      {%block content%}
      {%endblock%}

      </body>
</html>
